{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h1>Contact Us</h1>
        <p>Leave your message, and we will get back to you shortly.</p>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">SUBMIT</button>
            </div>
        </form>
    </div>
{% endblock content %}