{% extends "home/base.html" %}
{% block content %}
    <div class="content-section">
        <h1>About</h1>
        <p>I am a second year student currently studying at University of Surrey.
        The degree I am working towards is Computer Science with a Year in Industry.
        <br><br> For my web application project, I am creating a website to keep track
        of the users music collection, including album and track information. A notes
        and favourites feature will also be included.
        </p>
    </div>
{% endblock content %}