a {
  color: #000000;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

article button {
  background: #0099cc;
  border: 1px solid #9370d8;
  border-radius: 25px;
  color: white;
  margin: 5px;
  width: 100%;
}

body {
  background: #0099cc;
  color: #333333;
  font-family: Helvetica;
  margin-top: 5rem;
}

.form-group button {
  background: #0099cc;
  border: 1px solid #0099cc;
  border-radius: 25px;
  color: white;
  width: 100%;
}

.form-group input {
    background: white;
    margin: 15px;
    width: 95%;
}

.form-group input:focus {
    border-bottom: 3px solid #00ff99;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: bold;
}

p {
  font-weight: bold;
  text-align: center;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  font-weight: bold;
}

.site-header .navbar-nav .nav-link.active {
  border-bottom: 3px solid #9370d8;
  color: #9370d8;
  font-weight: 500;
}

.navbar {
    background: transparent;
    overflow: hidden;
}

.navbar .active {
  border-bottom: 3px solid #ffffff;
  color: #9370d8;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}