{% extends "blog/base.html" %}
{% block content %}
    <h1>My Playlists</h1>
        {% for playlist in playlists %}
            {% if playlist.creator == user %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <p class="mr-2" style="text-align:left">{{ playlist.date_created|date:"jS F Y"  }}</p>
                        </div>
                        <h2><a class="article-title" href="{% url 'music-display_playlist' playlist.id %}">{{ playlist.list_title }}</a></h2>
                        <small class="text-muted">{{ playlist.description }}</small>
                    </div>
                </article>
            {% endif %}
        {% endfor %}
    <article class="media content-section">
        <div class="media-body">
            <a href="{% url 'music-create_playlist' %}">Add Playlist</a>
        </div>
    </article>
{% endblock content %}
{% block js %}
    <script>
        $('a').click(function () {
            alert('Link was clicked.')
        });
    </script>
{% endblock %}